body{
    font-family: 'Roboto', sans-serif;
    }
.img-404{
    background-image: url(../img/404.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    }
.textos{
    position: absolute;
    width: 100%;
    height: 100vh;
    }
.img-404 .textos h1{
    margin-top: 10%;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #525D7D;
    }

.img-404 .textos h2{
    text-align: center;
    font-size: 7em;
    font-weight: bold;
    color: #525D7D;
    }
.img-404 .textos p{
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 1em;
    font-weight: 200;
    color: #525D7D;
    bottom: 10%;
    }









