.img-fondo{
    background: #ffff;
    height: 100vh;
    }
.circle-logo img{
    width: 60px;
    margin: 16%;
    }
.circle-logo{
    position: relative;
    margin: -140px auto 60px;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #0062AA;
    -webkit-box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    }
.caja-login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 4% 2% 0 2%;
    border: 4px solid #0062AA;
    border-radius: 14px;
    background: #fff;
    -webkit-box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    }
.img-fondo h1{
    margin-top: -15%;
    font-size: 2em;
    color: #393939;
    }
.img-fondo h2{
    font-size: 1.2em;
    color: #393939;
    margin-bottom: 16%;
    }
.group {
    position: relative;
    margin-bottom: 30px;
    }
 .btn-primary {
        color: #fff;
        background-color: #006FBF;
        border-color: #006FBF;
        padding: 10px 25px;
    }
input {
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #5F5F5F;
    background: transparent;
    }
    input:focus {
    outline: none;
    }

/* =================LABEL ================== */
label {
    color: #5F5F5F;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -26px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    }

/* estado activo */
input:focus ~ label, input:valid ~ label {
    font-size: 14px;
    color: #5F5F5F;
    }

/*================= BOTTOM BARS =================== */
.bar {
    position: relative;
    display: block;
    width: 100%;
    }
.bar:before, .bar:after {
     content: '';
     height: 3px;
     width: 0;
     bottom: 0px;
     position: absolute;
     background: #0062AA;
     transition: 0.2s ease all;
     -moz-transition: 0.2s ease all;
     -webkit-transition: 0.2s ease all;
     }

.bar:before {
     left: 50%;
     }
.bar:after {
     right: 50%;
     }
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
     width: 50%;
     }
/*============== HIGHLIGHTER ============== */
.highlight {
     position: absolute;
     height: 60%;
     width: 100px;
     top: 25%;
     left: 0;
     pointer-events: none;
     opacity: 0.5;
     }
/* estado activo */
input:focus ~ .highlight {
     -webkit-animation: inputHighlighter 0.3s ease;
     -moz-animation: inputHighlighter 0.3s ease;
     animation: inputHighlighter 0.3s ease;
     }
/* animación ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5F5F5F;
        }

    to {
        width: 0;
        background: transparent;
        }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #5F5F5F;
        }

    to {
        width: 0;
        background: transparent;
        }
}

@keyframes inputHighlighter {
    from {
        background: #5F5F5F;
        }

    to {
        width: 0;
        background: transparent;
        }
}


/*-----BOTON ENVIAR-----*/
.boton-contacto{
    margin-bottom: 25px;
    }
.button {
    text-decoration: none;
    display: inline-block;
    background: #225D9F;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    }
.boton-contacto a{
    text-align: center;
    background: #225D9F;
    color: #fff;
    padding: 12px 45px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
    width:150px;
    height:50px;
    }
.boton-contacto a:hover{
    background: #0062AA;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -ms-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
    }

.contraseña{
    margin-top: 5%;
    margin-bottom: 10%;
    }
.contraseña a{
    text-decoration: none;
    }

@media (max-width: 1350px){
.img-fondo h1 {
    margin-top: -50px;
    font-size: 1.8em;
    color: #393939;
    }
.img-fondo h2 {
    font-size: 1.2em;
    margin-bottom: 10%;
    }
.boton-contacto a {
    padding: 10px 40px;
    width: 140px;
    height: 45px;
    } 
.circle-logo img {
    width: 45px;
    margin: 16%;
    }    
.circle-logo {
    position: relative;
    width: 90px;
    height: 90px;
    }    
.circle-logo {
    position: relative;
    margin: -105px auto 60px;
    width: 100px;
    height: 100px;
    }  
    
}
@media (max-width: 990px){
.caja-login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 5% 5% 0 4%;
    }
}
@media (max-width: 575px){
.caja-login{
    width: 70%;
    }    
.circle-logo {
    position: relative;
    width: 100px;
    height: 100px;
    margin: -80px auto 50px;
    }
}

/*Styles para las notificaciones en la vista de logeo*/
.flash-login{
        position: absolute; 
        left: 50%;
        top: 2%;
        z-index: 1;
    }
.flash-login-inside{
    position: relative; 
    left: -50%;
    text-align: center;
}
@media only screen and (max-width: 600px)  {
    .flash-login{
        position: absolute; 
        left: 50%;
        top: 2%;
    }
    .flash-login-inside{
        text-align: center;
    }
}
/*----//end-responsive design-----*/


