/*Styles para las notificaciones en la vista de logeo*/
.flash-login{
		position: relative; 
		left: 50%;
		top: 1%;
	}
.flash-login-inside{
	position: relative; 
	left: -50%;
}
@media only screen and (max-height: 600px)  {
	.flash-login{
		position: absolute; 
		left: 50%;
		top: 20%;
	}
}


/*----//end-responsive design-----*/