.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    display: none;
}
.caja-recuperar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    }
.btn-recuperacion {
    color: #fff;
    background-color: #006FBF;
    border-color: #006FBF;
}
.circle-logo2 {
    position: relative;
    margin: -103px auto 20px;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #0062AA;
    -webkit-box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    }
.circle-logo2{
    text-align: center;
    }    
.circle-logo2 img{
    width: 60px;
    margin-top: 19px;
    }   
.caja-login2 {
        margin: 10% auto;
        padding: 4% 2% 0 2%;
        border: 4px solid #0062AA;
        border-radius: 14px;
        background: #fff;
        -webkit-box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
        -moz-box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
        box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.57);
    }
.form-group .formulario{
    width: 50%;
    margin: 0 auto;
}    
@media (max-width: 800px){
    .caja-recuperar{
        width: 90%;
        }
    .form-group .formulario {
        width: 100%;
        margin: 0 auto;
        }    
}